p{

    text-align: center;
    font-family: "Droid Sans Mono Dotted";
    font-size: 16px;
}
.colorParrafo1{
    color: mediumpurple;
}


p{

    text-align: center;
    font-family: "Neon";
    font-size: 24px;
}
.colorParrafo2{
    color: black;

}



li{
    text-align: left;
    font-family: "Neon";
    font-size: 16px;

}
.colorLista{
    color: mediumpurple;
}


img{
    text-align: center;

}
.imagenCentrada




